[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
selenium = "*"
robotframework-seleniumlibrary = "*"
robotframework-requests = "*"
robotframework-appiumlibrary = "*"

[dev-packages]

[requires]
python_version = "3.10"
